﻿
@{
    ViewData["Title"] = "Register Summoner Account";
}

<h2>Register Summoner</h2>

<div>Register your League of Legends Summoner to unlock special features!</div><br />

<form action="VerifySummoner" method="post">

    <div>Summoner Verification Code <input type="text" style="width: 400px" readonly="readonly" value=@Model.VerificationCode></div>

    <div>Summoner Name <input type="text" name="summonerName" /></div>

    <div>Select Region @Html.DropDownList("region", new SelectList(Model.Regions, Model))</div>

    <div><input type="submit" value="Verify Account" id="Submit" />  </div>

</form>