﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>FiniTech Gaming is here to provide you with the tools to succeed.</p>

<p>FiniTech Gaming was created by Ralph Maurmeier aka Finite Reality.</p>

<p>The Minimap Expander tool was designed by Ralph Maurmeier and created by Brian Pulliam.</p>


