﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Feel free to message us with any questions, comments or concerns. We love to hear your feedback!</p>
<address>
    <strong>Support:</strong>   <a href="mailto:FiniTechGaming@gmail.com">FiniTechGaming@gmail.com</a><br />
</address>