﻿@{
    ViewBag.Title = "FiniTech Gaming LoL Home";
}

<div class="jumbotron">
    <h1>FiniTech Gaming</h1>
    <p class="lead">League of Legends</p>
</div>

<div class="row">
    <div class="col-md-12">
        Welcome to FiniTech Gaming's League of Legends website! We are continuously adding more features to give players an edge over the competition.
    </div>
</div>